.cop-contents {
    .cop-panel {
        @extend %background-color2;
        & > .cop-panel-heading {
            color: $cop-bgcolor;
            @extend %background-color0;
            border: none;
            line-height: 4px;
            font-size: 16px;
        }
        .cdp_configuracao_email {
            label {
              font-weight: 300;
            }
        }
        .cop-panel-content{
            padding: 15px;
            #cop-load-container a{
                color: $coppla-text-color;
            }
        }
    }

    #users .cop-tabs-nav {
        margin-top: 16px;
        margin-left: 1px;
        a {
            line-height: 8px;
            font-size: 9pt;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid #DFDFDF;
            @extend %color0;
            background-color: $cop-bgcolor;
            border-bottom: none;
            margin-right: 6px;
        }
        .cop-active a {
            @extend %background-color0;
            color: $cop-bgcolor;
        }
        li a{
            margin: 0 !important;
        }
        li {
            margin-right: 5px;
        }
    }

    #cop_add_participantes {
        background-color: $cop-bgcolor;
        margin-left: 2px;
        border-style: solid;
        border-width: 1px;
        border-radius: 0px 6px 6px 6px;
        @extend %border-color3;
        padding: 5px;
        table {
            thead th{
                background-color: $cop-bgcolor;
                @extend %color0;
                font-weight: 300;
                border-bottom: none !important;
                text-transform: none;
                padding: 3px;
            }
            tbody {
                td, td a {
                    border-top: none !important;
                    line-height: 22px;
                    font-size: 9pt;
                    margin: 0;
                }
                td {
                    padding: 3px ;
                }
                tr:nth-child(odd) {
                    @extend %background-color1;
                }

                .cop-form-control {
                    display: block;
                    width: 100%;
                    height: 22px;
                    padding: 0;
                    font-size: 8pt;
                    line-height: 1em;
                }
            }
        } 
    }

    #leave_cop {
        .cop-panel-heading {
            margin-bottom: 6px;
        }
        p {
            font-size: 9pt;
        }
        .btn {
            margin-top: 10px;
            font-size: 9pt;
        }
    }

    #coppla_edit_container .btn {
            margin: 10px 15px;
            font-size: 9pt;
    }
} 

#viewlet-below-content-title {
    margin-top: 15px;
}
