@font-face {
    font-family: "CopplaIcon";
    font-style: normal;
    src: url(++resource++communities.practice.stylesheets/coppla-icon.ttf); /*if IE */
    src: url("++resource++communities.practice.stylesheets/coppla-icon.eot");
    src: url("++resource++communities.practice.stylesheets/coppla-icon.otf");
}

.cop-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'CopplaIcon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cop-icon-CoP:before {
  content: "o";
}

.cop-icon-twitter:before {
  content: "B";
}

.cop-icon-facebook:before {
  content: "A";
}

.cop-icon-search:before {
  content: "t";
}

.cop-icon-youtube:before {
  content: "C";
}

.cop-icon-more:before {
  content: "D";
}

.cop-icon-back:before {
  content: "E";
}
.cop-icon-forward:before {
  content: "F";
}
.cop-icon-document-full:before {
  content: "G";
}
.cop-icon-gallery:before {
  content: "H";
}
.cop-icon-movie:before {
  content: "I";
}
.cop-icon-attachment:before {
  content: "J";
}
.cop-icon-exclude:before {
  content: "K";
}
.cop-icon-print:before {
  content: "L";
}
.cop-icon-document:before, .cop-icon-CoPDocument:before, .cop-icon-CoPATA:before{
  content: "M";
}
.cop-icon-edit:before {
  content: "N";
}
.cop-icon-paste:before, .cop-icon-copy:before {
  content: "O";
}
.cop-icon-folder:before, .cop-icon-CoPFolder:before {
  content: "P";
}
.cop-icon-link:before, .cop-icon-CoPLink:before, .cop-icon-CoPShare:before {
  content: "Q";
}
.cop-icon-pictures:before {
  content: "R";
}
.cop-icon-home:before {
  content: "a";
}
.cop-icon-acervo:before {
  content: "b";
}
.cop-icon-calendario:before, .cop-icon-CoPEvent:before{
  content: "c";
}
.cop-icon-portfolio:before, .cop-icon-CoPPortfolio:before{
  content: "d";
}
.cop-icon-forum:before, .cop-icon-PloneboardConversation:before {
  content: "e";
}
.cop-icon-tarefas:before, .cop-icon-copcommunityneverlogged:before {
  content: "f";
}
.cop-icon-atividade:before, .cop-icon-copcommunityfolderatividade:before {
  content: "g";
}
.cop-icon-share:before {
  content: "h";
}
.cop-icon-info:before {
  content: "i";
}
.cop-icon-help:before {
  content: "j";
}
.cop-icon-presentation:before {
  content: "k";
}
.cop-icon-stack:before {
  content: "l";
}
.cop-icon-mail:before {
  content: "m";
}
.cop-icon-photo:before, .cop-icon-CoPImage:before {
  content: "n";
}
.cop-icon-add:before {
  content: "o";
}
.cop-icon-people:before, .cop-icon-copmoderadormaster:before {
  content: "p";
}
.cop-icon-lock:before {
  content: "q";
}
.cop-icon-info-balloon:before {
  content: "r";
}
.cop-icon-minus:before {
  content: "s";
}
.cop-icon-notificacoes:before {
  content: "u";
}
.cop-icon-shout:before {
  content: "v";
}
.cop-icon-write:before, .cop-icon-rename:before {
  content: "w";
}
.cop-icon-configuracoes:before {
  content: "x";
}
.cop-icon-file:before, .cop-icon-CoPFile:before {
  content: "y";
}
.cop-icon-action:before {
  content: "z";
}
.cop-icon-awaiting:before {
  content: "V";
}

.cop-icon-restricted:before,  .cop-icon-restrito:before{
  content: "3";
}
.cop-icon-private:before, .cop-icon-privado:before {
  content: "4";
}
.cop-icon-public:before, .cop-icon-publico:before {
  content: "Y";
}
.cop-icon-shared:before, .cop-icon-compartilhado_na_arvore:before {
  content: "5";
}
.cop-icon-rating-enabled:before {
  content: "6";
}
.cop-icon-rating-disabled:before {
  content: "7";
}
.cop-icon-authenticated:before, .cop-icon-autenticado:before {
  content: "T"; 
}
.cop-icon-subcop:before {
  content: "S";
}
.cop-icon-delete:before {
  content: "U";
}
.cop-icon-cut:before {
  content: "2";
}
.cop-icon-bloqueado:before, .cop-icon-Bloqueado:before{
  content: "U";
}
.cop-icon-criador:before, .cop-icon-moderador:before, .cop-icon-owner:before, .cop-icon-participante:before,
.cop-icon-Criador:before, .cop-icon-Moderador:before, .cop-icon-Owner:before, .cop-icon-Participante:before,
.cop-icon-participating:before {
  content: "X";
}
.cop-icon-aguardando:before, .cop-icon-Aguardando:before {
  content: "V";
}
.cop-icon-observador:before, .cop-icon-Observador:before{
  content: "D";
}
.cop-icon-formularios:before, .cop-icon-CoPTutors:before, .cop-icon-BFGoodPracticeReport:before,
.cop-icon-BFCheckList:before, .cop-icon-CoPCaseDescription:before, .cop-icon-BFVisitAcknowledge:before {
  content: "N";
}
.cop-icon-chat:before {
  content: "W";
}
.cop-icon-participar:before {
  content: "Z";
}
.cop-icon-curso:before {
  content: "N";
}
