.cop-message-members#content{
    label{
        font-size: 13px;
    }
    input#subject, textarea#message{
        margin-bottom: 15px;
        border-radius: 3px;
        border: 1px solid $cop-border-color;
        width:100%
    }

    .cop-message-members-list{
        text-align: left;
        border-spacing: 2px;
        border-collapse: separate;

        label{
            margin: 0;
        }
        input{
            margin: 0;
        }
    }
}
