.cop-post-creation{
    text-align: right;
    margin-bottom: 20px;
}

.cop-post-creation #post_message{
    width:100%;
    resize:vertical;
    font-size: 14px;
    padding: 12px;
    border-radius:3px;
}

.cop-post-creation #below_post_message{
    height: 30px;
}

.cop-post-creation #post_length{
    color: rgb(160, 160, 160);
    font-size: 10pt;
    float: right;
    margin: 4px 5px;
}

button#submit_cop_post:disabled{
    color: rgb(160, 160, 160);
}

.cop-post-creation #below_post_message button#submit_cop_post:hover{
    @extend %background-color1;  
    border-color: $cop-border-color;
}

.cop-post-creation #below_post_message button#submit_cop_post{
    border-radius: 3px;
    margin-left: 0;
    float: right;
    padding: 2px 4px;
    font-size: 11px;
    text-transform: lowercase;
    font-weight: 300;
    background-color: $cop-bgcolor;
    background-image: none;
    border: 1px solid transparent;
    border-color: $cop-border-color;
}

.cop-post-creation #below_post_message div#post_length{
    margin-top: 10px;
}
