.discussion .hide {
    display: inline !important;
}

#viewlet-below-content .reply-to-comment-button {
    margin-left: 62px;
    margin-top: -70px;
    color: $coppla-text-color;
    padding: 2px;
    background-color: #EEE;
    border: 1px solid $cop-border-color;
    border-radius: 2px;
}

.cop-contents #viewlet-below-content {
    margin-left: 0;    
}

#viewlet-below-content .reply, #viewlet-below-content .discussion, .commentBody {
    clear: none;
    @extend %background-color1;
    padding: 18px 10px 26px;
    margin: 0px 0px;
    border-radius: 6px;
}

#viewlet-below-content .commentBody {
    background-color: $cop-bgcolor;
    box-shadow: none;
    border-color: transparent;

    p {
        float: none;
    }
}

#viewlet-below-content {
    .commentActions {
        text-align: left;
        float: none;
        margin-left: 56px;
        margin-top: 10px;
        min-height: 26px;

        input[type="submit"]{
            border-radius: 4px;
            padding: 4px;
            font-size: 11px;
            border: 1px solid $cop-border-color;
            background-color: $cop-bgcolor;
            margin-left: 14px;
        }
        input[type="submit"]:hover{
            color: $coppla-text-color;
            @extend %background-color1;
        }
    }
}

.cop-contents div.commentImage{
    width: 45px;
    height: 45px;
    border: 1px solid $cop-border-color;
    border-radius: 3px;
    @extend %border-color0;
    img{
        width: 100%;
        height: 100%;
    }
}
.cop-contents{
    #content{
        .discussion {
            p{
                font-size: 12px;
                color: $coppla-text-color;
            }
            label{
                color: $coppla-text-color;
            }
            .documentByLine {
                float: none;
                a{
                    font-weight: bold;
                    font-size: 13px;
                    text-transform: capitalize;
                    @extend %color-3;

                    &:hover{
                        @extend %color-3;
                    } 
                }
                .commentDate{
                    font-size: 12px;
                    color: $coppla-text-color;
                    text-align: right;
                    margin-top: -2em;
                }
            }
            .commentBody{
                font-size: 12px;
                color: $coppla-text-color;
                text-align: justify;
            }
            .replyTreeLevel1 {
                margin-left: 2em;
            }
        }
    }
}

#viewlet-below-content button.reply-to-comment-button{
    margin-top:-60px;
}

/*css declaration only for Chrome/Safari*/

@media screen and (-webkit-min-device-pixel-ratio:0) { 
      #viewlet-below-content button.reply-to-comment-button {
            margin-top: -60px;
      }
}

#viewlet-below-content{
    button.reply-to-comment-button {
        padding: 4px;
        background-color: $cop-bgcolor;
        border-radius: 4px;
        margin-right: 10px;
        position: absolute;
    }
    button.reply-to-comment-button:hover{
        color: $coppla-text-color;
        @extend %background-color1;
    }

}

#viewlet-below-content .reply, #viewlet-below-content .discussion, .commentBody {
    padding: 10px;
    margin-bottom: 20px;
}

#viewlet-below-content .reply #formfield-form-widgets-comment-text{
    label{
        display: block;
    }
    textarea{
        width: 100%;
        border-radius: 3px;
        border: 1px solid $cop-border-color;
    }

}

.cop-contents{
    #commenting, .reply{
        fieldset{
            legend{
                font-size: 12px;
                font-weight: bold;
            }
            div.formControls input[type="submit"]{
                padding: 4px;
                background-color: $cop-bgcolor;
                border-radius: 4px;
                margin-right: 10px;
                border: 1px solid $cop-border-color;
                color: $coppla-text-color;
            }
            div.formControls input[type="submit"]:hover{
                color: $coppla-text-color;
                @extend %background-color1;
            }
        }
    }
    #commenting{
        #form-widgets-comment-text{
            width:100%;
        }
        .formControls{
            margin:0px;
        }
    }
}
