.cop-columns .cop-col.cop-menu-full{
    position: relative;
    top: 0px;

    .cop-menu-item {
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 0.7em;
        &, & > a {
            @extend %color0;
            text-decoration: none;
        }
        &:first-child.cop-selected {
            @include border-radius(8px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:nth-last-child(2).cop-selected {
            @include border-radius(8px);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &.cop-selected, &.cop-selected a {
            @extend %background-color0;
            color: $cop-bgcolor;
        }
        &:first-child:nth-last-child(2).cop-selected {
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          border-radius: 8px;
        }

        .cop-icon-base {
            display: block;
            font-size: 3.25em;
            padding-bottom: 6px;
            text-transform: none;
        }
    }
}

/*Ajustes de resolução para mobile*/
@media screen and (max-width : 992px){
    .cop-columns{
        .cop-menu-column{
            word-wrap: break-word;
            padding-right: 0px;
            max-width: 75px;

            .cop-col.cop-menu-full{
                word-wrap: break-word;
                width: auto !important;

                .cop-menu-item{
                    a  span{
                        font-size: 24px;
                        &.cop-description-menu{
                            font-size: 10px;
                            display: none;
                        }
                    }
                }
                .cop-arrow-menu-mobile .cop-arrow-menu{
                    width: 0px;
                    height: 0px;
                    vertical-align: middle;
                    display: inline-block;
                    border-left: 5px solid ;
                    border-bottom: 4px solid transparent;
                    border-top: 4px solid transparent;
                }
            }
            .cop-column{
                width: auto;
            }
            &.cop-menu-open{
                .cop-col.cop-menu-full{
                    position: absolute;
                    z-index: 1000;
                    .cop-menu-item a{
                        display: table;
                        span.cop-icon{
                            width: 50px;
                        }
                        span.cop-description-menu{
                            display: table-cell;
                            text-align: left;
                            padding-right: 3px;
                        }
                    }
                    .cop-arrow-menu-mobile .cop-arrow-menu{
                        width: 0px;
                        height: 0px;
                        vertical-align: middle;
                        display: inline-block;
                        border-left: 0px;
                        border-right: 5px solid ;
                        border-bottom: 4px solid transparent;
                        border-top:5px solid transparent;
                    }
                }
            }
        }

        .cop-content-container{
            padding-left: 2px;
        }
    }
    #cop-container {
        margin: 5px;
        padding: 5px;
    }
}

.cop-columns{
    .cop-menu-column{
        .cop-arrow-menu-mobile{
            padding: 15px;
            text-align: center;
            cursor: pointer;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            &:hover{
                @extend %background-color2;
            }
            span{
                @extend %color0;
            }
        }
    }
}