.cop-columns {
    .cop-portal-message{
        dl.portalMessage {
            border: 1px solid #31708f;
            border-radius: 5px;

            dt{
                background-color: #31708f;
                border-radius: 2px;
            }
            dd{
                color: #31708f;
                background-color: #d9edf7;
                border-radius: 4px;
                font-weight: bold;
            }
        }
        dl.portalMessage.error{
            border-radius: 5px;
            border-color: #a94442;

            dt {
                border-radius: 2px;
                background-color: #a94442;
            }
            dd {
                color: #a94442;
                background-color: #f2dede;
                border-radius: 4px;
                font-weight: bold;
            }
        }
    }
}

.cop-columns div.field.error {
    background-color: #F2DEDE;
    border: 1px solid #A94442;
    border-radius: 5px;
}
