$coppla-palletes: (
    gray: (color0: #434648, color1: #E2E4E4, color2: #F1F2F2, color3: #184587),
    blue: (color0: #1A576B, color1: #E9EFF0, color2: #EFF4F4, color3: #1A576B),
    red: (color0: #B04444, color1: #FAECEC, color2: #FAECEC, color3: #B04444),
    brown: (color0: #420e00, color1: #e9e2dc, color2: #f4f1ee, color3: #420e00),
    green: (color0: #006561, color1: #EAF9E8, color2: #EAF9E8, color3: #006561),
    orange: (color0: #FFA000, color1: #FBFBD6, color2:  #FBFBD6, color3: #286ab0),
);

@each $index in 0,1,2,3  {
    %color#{$index} {
        @each $pallete, $colors in $coppla-palletes {
           .cop-pallete-#{$pallete} & {
                color: map-get($colors, color#{$index});
            } 
        }
    }
    %background-color#{$index} {
        @each $pallete, $colors in $coppla-palletes {
           .cop-pallete-#{$pallete} & {
                background-color: map-get($colors, color#{$index});
            } 
        }
    }
    %background-#{$index} {
        @each $pallete, $colors in $coppla-palletes {
           .cop-pallete-#{$pallete} & {
                background-color: map-get($colors, color#{$index}) !important;
            } 
        }
    }
    %color-#{$index} {
        @each $pallete, $colors in $coppla-palletes {
           .cop-pallete-#{$pallete} & {
                color: map-get($colors, color#{$index}) !important;
            } 
        }
    }
    %border-color#{$index} {
        @each $pallete, $colors in $coppla-palletes {
           .cop-pallete-#{$pallete} & {
                border-color: map-get($colors, color#{$index});
            } 
        }
    }
}

@each $color in gray blue red brown green orange {
    .cop-color-#{$color}:after {
        background-image: url("++resource++communities.practice.images/color_#{$color}.jpg")
    }
}

@each $image in gray blue red brown green orange {
    .cop-selct-image-#{$image} {
        background-image: url("++resource++communities.practice.images/#{$image}.png")
    }
}