.cop-col div[id^=portletwrapper]:first-of-type .portletHeader{
    @include border-radius(8px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

dl.portlet {
    .portletHeader {
            text-align: center;
            text-transform: uppercase;
            @extend %background-color0;
        &, a{
            color: $cop-bgcolor !important;
            font-size: 18px;
            font-weight: 200;
            text-transform: none;
            @extend %background-color0;
            border: none;

            span{
                @extend %background-color0;
            }
        }
    }

    .cop_member_submit_input {
        background-image:url("++resource++communities.practice.images/lupa.jpg");
        background-repeat:no-repeat;
        background-color:transparent;
        height:16px;
        width:16px;
        border:none;
        text-indent:-999em;
        cursor:pointer; 
    }

    .cop_portlet_search {
        display: block;
        width: 80%;
        margin: 16px auto;
        font-size: 16pt;
    }

    .cop-portlets-search-form{
        margin: 10px;
        position: relative;
        .cop-searchbox .btn-default {
            height: 34px;
        }
    }

    .cop-portlets-search-form .cop_member_text_input{
        width: 100%;
        padding-right: 18px;
        height: 27px;
    }

    .cop-portlets-search-form .cop_member_submit_input{
        width: 16px;
        position: absolute;
        right: 4px;
        top: 6px;
    }

    .cop-participantes-container {
        overflow: auto;
    }

    .cop-participante {
        float: left;
        display: inline-block;
        margin-bottom: 10px;
        .cop-icon-person:link {
            border-bottom: none;
        }
    }

    .cop-participantes-subtitle {
        text-align: left;
        display: block;
        width: 100%;
        text-transform: uppercase;
        margin: 0px auto;
        font-weight: bold;
        margin-bottom: 10px;
        @extend %color0;
    }

    .cop-participante.dontshow {
        display: none;
    }

    .cop_portlet_showall, #cop_invitation_container {
        display: block;
        width: 94%;
        text-align: center;
        margin: 8px;
        @extend %background-color2;
        border-radius: 3px;
        margin-bottom: 0px;
    }

    .cop_portlet_showall label {
        margin-right: 5px;
    }
    
    .cop-portlet-section {
        margin: 8px;
        @extend %background-color2;
        padding: 10px;
        border-radius: 3px;
    }

    #cop_invitation_container{
        a#cop_invitation:link, a#cop_invitation:hover, a#cop_invitation:active{
            @extend %color-0;
            text-decoration: none;
            border:none;
        }
    }
}

.cop-portlet-col{
    .managePortletsLink{
        @extend %background-color0;
        a{
            color: #fff;
        }
    }
}