.cop-timeline-popaction.cop-timeline-action-tag > div.cop_timeline_popup::before {
    left: 80px;
}

.cop-timeline-popaction.cop-timeline-action-comment > div.cop_timeline_popup::before {
    left: 20px
}

.cop-timeline-popaction > div {
    margin-top: 18px;
    float: left;
    left: 40px;
    overflow: visible !important;
}

.cop-timeline-popaction > div textarea {
    color: $coppla-text-color;
    display: block;
}

.cop-contents{
    .cop-timeline{

        .cop-button-group{
            .cop-button-small{
                white-space: normal;
            }
        }
        .cop_timeline_popup{
            border-radius: 4px;
            word-wrap:break-word;
            label.horizontal{
                text-transform: uppercase;
                float: left;
            }
            .formControls{
                margin-top: 5px;
                font-size: 11px;
                input[type="submit"]{
                    float: left;
                    display: inline-block;
                    border-radius: 4px;
                    margin-right: 5px;
                    background-color: $cop-bgcolor;
                    color: $coppla-text-color;
                    padding: 2px;
                    border: 1px solid #AAA;
                }
                input[type="submit"]:hover{
                    color: $coppla-text-color;
                    background-color: #E6E6E6;
                    border-color: #ADADAD;
                }
            }
            #subject-tags{
                text-transform: uppercase;
                text-align: left;
                label{
                    text-transform: uppercase;
                    text-align: left;
                    word-wrap:break-word;
                }
                span.newTagsHelp.formHelp {
                    color: $cop-bgcolor;
                    font-weight: bold !important;
                }
            }
        }
    }
}




/*popaction clear*/
.cop_timeline_popup fieldset, .cop_timeline_popup .editionComment {
    margin: 0;
    padding: 0;
}

.cop_timeline_popup fieldset span.required{
    display: none;
}

.cop_timeline_popup div.formControls {
    margin: 0;
}

.cop_timeline_popup #newTagsSection, .cop_timeline_popup #newTagsTitle{
    width: 100%;
    margin: 0;
}

.cop_timeline_popup #existingTagsHelp, #newTagsHelp {
    float: left;
    color: $cop-bgcolor;
}

.cop_timeline_popup .cop-timeline-popaction .formHelp {
    color: $cop-bgcolor;
}

.cop_timeline_popup #existingTagsHelp, .cop_timeline_popup #newTags textarea{
    width: 300px;
}

.cop_timeline_popup .field {
    margin-bottom: 0;
}

/*Action Popups*/
.cop-timeline-popaction > div {
    display: none;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.9);
    min-width: 250px;
    min-height: 62px;
    margin-top: 10px;
    float: left;
    left: 98px;
    z-index: 5;
    color: $cop-bgcolor;
    cursor: default;
    padding: 10px;
}

.cop-item{
    .cop-button-group{
        a.cop-timeline-news-action{
            opacity: 1 !important;
        } 
    }
}

.cop-timeline-popaction > div:before {
    border: 11px solid transparent;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 11px solid rgba(117, 117, 117, 0.9);
    position: absolute;
    top: -22px;
    left: 16px;
}

.cop-timeline-popaction .cop_timeline_popaction_title {
    text-transform: none;
    font-size: 7.5pt;
}

.cop-timeline-popaction input[type=text].search {
    background-image: url("++resource++communities.practice.images/lupa.jpg");
    background-repeat: no-repeat;
    background-position: 225px 50%;
    border-color: $coppla-text-color;
}

.cop_timeline_popaction_reportmessage::-webkit-input-placeholder { /* WebKit browsers */
    color:    #F00;
}
.cop_timeline_popaction_reportmessage:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #F00;
}
.cop_timeline_popaction_reportmessage::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #F00;
}
.cop_timeline_popaction_reportmessage:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #F00;
}

.cop-timeline-popaction select {
    padding-left: 6px;
    border: 1px solid $cop-bgcolor;
    background-color: $cop-bgcolor;
    width: 245px;
    min-height: 22px;
    margin-bottom: 9px;
    color: $coppla-text-color;
}

.cop-timeline-popaction fieldset {
    border: none;
}

.cop-timeline-popaction fieldset, .cop-timeline-popaction #fieldset-default .field, .cop-timeline-popaction fieldset legend, .cop-timeline-popaction .documentFirstHeading, .cop-timeline-popaction .ArchetypesReferenceBrowserWidget {
     display: none;
 }

.cop-timeline-popaction #fieldset-default, .cop-timeline-popaction .field#archetypes-fieldname-comunidades {
     display: block;
 }

.cop_timeline_popup #subject-tags{
    #existingTagsTitle, #newTagsTitle {
        float: none;
    }
    .existingTagsSection{
        margin: 0;
        .existingTags{
            width: 80%;
        }
    }
    .newTagsSection{
        margin: 0;

        .newTagsHelp{
            float: none;
        }
    }
}